### make_lstm_classification_model_dataset
* input: 
    + ten seqence of movie_vector(word2vec embedding) 
    + view_duration(normalize) 
    + diff_before_view 
    + month 
    + day of month 
    + day of week


* ouput: 
    + after ten_veiw, movie_id

In [1]:
import sys
sys.path.append("../../sktnb_code_challenge/ttuckbaegi3/metrics")
import pandas as pd
%matplotlib inline

In [2]:
raw_df = pd.read_csv('../../ sample.csv')
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15823019 entries, 0 to 15823018
Data columns (total 5 columns):
USER_ID      int64
MOVIE_ID     int64
DURATION     int64
WATCH_DAY    int64
WATCH_SEQ    int64
dtypes: int64(5)
memory usage: 603.6 MB

### movie id -> embedding vectors

In [3]:
from gensim.models import Word2Vec

In [7]:
model = Word2Vec.load('../../movie_w2v_mincount_model.model')

In [8]:
model.wv[['0','1']].shape

(2, 100)

[5026,
 3851,
 2608,
 5775,
 7322,
 1330,
 4130,
 824,
 7382,
 2420,
 5375,
 2340,
 28,
 6908,
 4820,
 1068,
 6428,
 8084,
 3956,
 3987,
 4129,
 5694,
 3549,
 5746,
 4078,
 5382,
 2051,
 1645,
 4009,
 1400,
 6411,
 2119,
 4959,
 7285,
 4426,
 2493,
 1371,
 7691,
 603,
 3212,
 4949,
 583,
 6561,
 884,
 2929,
 1720,
 5657,
 3612,
 7812,
 4248,
 4023,
 7824,
 1486,
 7870,
 1887,
 3262,
 6127,
 1448,
 620,
 406,
 6816,
 8032,
 4802,
 753,
 8158,
 2127,
 5726,
 3401,
 29,
 2492,
 5967,
 762,
 1984,
 5162,
 4262,
 5767,
 1841,
 1904,
 280,
 4388,
 5097,
 3933,
 8210,
 7607,
 641,
 3092,
 2181,
 2658,
 2770,
 7760,
 1844,
 4501,
 5905,
 5354,
 8046,
 7718,
 3139,
 845,
 5227,
 4606,
 401,
 5234,
 2621,
 6486,
 829,
 1845,
 2540,
 1092,
 4362,
 6885,
 6035,
 6849,
 3477,
 5249,
 4790,
 4094,
 704,
 7029,
 6189,
 7917,
 6549,
 3945,
 8075,
 4155,
 6516,
 1998,
 1986,
 4306,
 3167,
 1363,
 194,
 7238,
 4171,
 3618,
 411,
 5533,
 3754,
 508,
 2559,
 2204,
 3330,
 1167,
 8082,
 2537,
 1559,
 7035,
 2895,
 7829,
 7946,
 1815,
 7908,
 4757,
 469,
 4358,
 5738,
 2622,
 3603,
 4307,
 4814,
 7949,
 6698,
 7584,
 3705,
 7617,
 7864,
 733,
 3078,
 6024,
 1322,
 5015,
 3205,
 1057,
 4313,
 7443,
 1735,
 2787,
 6150,
 4297,
 3009,
 4243,
 7360,
 6724,
 4492,
 4148,
 3199,
 2312,
 3680,
 2759,
 6736,
 3720,
 7461,
 7646,
 6275,
 6594,
 1484,
 3991,
 5304,
 4481,
 6294,
 6006,
 6258,
 4327,
 6136,
 5262,
 4562,
 5698,
 3362,
 3267,
 3497,
 3617,
 6166,
 5996,
 410,
 5171,
 3376,
 7083,
 5717,
 5688,
 1722,
 6310,
 334,
 1294,
 6211,
 1810,
 4835,
 3471,
 2820,
 6290,
 2060,
 2981,
 7391,
 7013,
 5037,
 5199,
 2930,
 1108,
 5193,
 688,
 3083,
 2229,
 6179,
 2727,
 2085,
 3279,
 443,
 7969,
 6878,
 1392,
 958,
 4964,
 6362,
 7247,
 3188,
 3985,
 5601,
 1566,
 5636,
 364,
 6454,
 327,
 2958,
 7004,
 5178,
 2151,
 3469,
 6014,
 8124,
 2000,
 5210,
 2473,
 2019,
 1439,
 2960,
 3748,
 4618,
 4460,
 7830,
 710,
 4670,
 3846,
 1268,
 4337,
 6617,
 5732,
 8041,
 78,
 6108,
 2900,
 4978,
 7711,
 6752,
 6953,
 6821,
 6432,
 5764,
 1284,
 7685,
 7363,
 5559,
 5359,
 7919,
 7088,
 7453,
 2950,
 591,
 5901,
 943,
 7658,
 2468,
 1679,
 1421,
 20,
 4979,
 2034,
 880,
 6046,
 1842,
 5758,
 4409,
 2251,
 1088,
 5290,
 1378,
 817,
 2723,
 528,
 7195,
 8230,
 2700,
 717,
 4022,
 1875,
 7732,
 6115,
 8065,
 2984,
 1550,
 5691,
 213,
 1882,
 7219,
 6832,
 5661,
 6914,
 3772,
 2359,
 3995,
 258,
 6639,
 1982,
 4853,
 6355,
 1334,
 2655,
 1631,
 2741,
 1594,
 5010,
 3765,
 2793,
 2437,
 2883,
 2596,
 8251,
 4439,
 2237,
 6795,
 2290,
 764,
 3176,
 971,
 4300,
 4413,
 5819,
 6654,
 44,
 7450,
 2714,
 7413,
 3257,
 2153,
 5648,
 7325,
 8103,
 593,
 7526,
 2185,
 6235,
 1696,
 1700,
 7865,
 3389,
 7243,
 4336,
 2985,
 3602,
 7330,
 8258,
 266,
 1073,
 2882,
 1046,
 4000,
 290,
 3218,
 466,
 85,
 1914,
 1582,
 7185,
 4348,
 3126,
 4411,
 3294,
 6583,
 0,
 904,
 2634,
 4194,
 5363,
 5112,
 2953,
 780,
 1750,
 3757,
 6209,
 3550,
 5670,
 1944,
 1620,
 7470,
 586,
 7132,
 142,
 4887,
 6857,
 818,
 5383,
 4162,
 1080,
 4004,
 7887,
 2801,
 4127,
 589,
 5850,
 6696,
 1791,
 6531,
 5207,
 5165,
 6406,
 2015,
 4924,
 285,
 4158,
 4323,
 723,
 7519,
 1009,
 4619,
 365,
 5574,
 3875,
 6560,
 2323,
 6229,
 5635,
 5482,
 1094,
 6038,
 744,
 2991,
 1551,
 3270,
 5582,
 7618,
 37,
 4317,
 284,
 1697,
 3611,
 2030,
 63,
 6649,
 5883,
 2227,
 2462,
 4251,
 2814,
 1970,
 1446,
 956,
 305,
 6845,
 834,
 2847,
 7364,
 5681,
 4433,
 39,
 4284,
 7729,
 1511,
 1017,
 2255,
 621,
 4455,
 2659,
 2109,
 2706,
 8122,
 558,
 1233,
 5987,
 7482,
 2715,
 7408,
 5471,
 2795,
 6550,
 2195,
 1861,
 8196,
 3150,
 7167,
 4878,
 200,
 5046,
 1597,
 5268,
 1807,
 2454,
 6756,
 1520,
 2543,
 1580,
 6261,
 3661,
 2198,
 7053,
 7436,
 5597,
 5696,
 1323,
 4015,
 7197,
 1856,
 1305,
 7985,
 6902,
 7643,
 286,
 6850,
 7174,
 3808,
 3444,
 3357,
 5398,
 3080,
 3688,
 5320,
 3035,
 5735,
 2175,
 3576,
 6624,
 3452,
 4438,
 2133,
 3195,
 5099,
 3990,
 241,
 1981,
 7259,
 4569,
 6059,
 1571,
 7608,
 5022,
 7903,
 1744,
 5072,
 4344,
 1628,
 185,
 1996,
 1466,
 5646,
 2646,
 557,
 5410,
 798,
 6460,
 3495,
 4446,
 5214,
 8237,
 7523,
 2586,
 6707,
 5713,
 2041,
 399,
 5462,
 5928,
 7441,
 6800,
 1840,
 2170,
 6042,
 3966,
 3174,
 1424,
 1660,
 6353,
 1853,
 1585,
 5854,
 5565,
 8035,
 4692,
 2645,
 3751,
 4282,
 7631,
 1862,
 2748,
 7672,
 1848,
 2854,
 6602,
 8043,
 3397,
 6030,
 673,
 3684,
 8134,
 2102,
 3843,
 7677,
 657,
 726,
 1292,
 7398,
 97,
 2293,
 633,
 3051,
 3405,
 4249,
 6943,
 3311,
 6208,
 4149,
 6178,
 7879,
 1704,
 2176,
 1082,
 5653,
 5678,
 1792,
 2080,
 7072,
 750,
 3459,
 4154,
 3778,
 3689,
 6301,
 1538,
 4037,
 1729,
 7901,
 5815,
 7236,
 6854,
 5799,
 623,
 4033,
 7504,
 5787,
 1190,
 1251,
 5920,
 2360,
 1647,
 4585,
 1169,
 3919,
 5437,
 4276,
 1555,
 1753,
 1588,
 763,
 1730,
 4513,
 4464,
 6369,
 779,
 1180,
 6969,
 3406,
 2399,
 3569,
 684,
 4930,
 7039,
 2154,
 7553,
 5989,
 2878,
 6534,
 5849,
 6442,
 1435,
 320,
 1963,
 930,
 2206,
 5974,
 453,
 6153,
 8211,
 3233,
 5839,
 644,
 7660,
 5031,
 2624,
 800,
 5283,
 5908,
 807,
 5152,
 5602,
 3607,
 425,
 294,
 5765,
 8208,
 4259,
 2742,
 7683,
 1,
 5403,
 7957,
 7986,
 1562,
 6925,
 7220,
 3169,
 5412,
 607,
 7715,
 1450,
 5028,
 100,
 3483,
 4993,
 2581,
 3025,
 251,
 2751,
 1595,
 4796,
 1110,
 4124,
 7781,
 966,
 7153,
 7465,
 7040,
 1297,
 5561,
 6957,
 447,
 5445,
 683,
 6916,
 5417,
 5719,
 69,
 5109,
 138,
 2666,
 32,
 106,
 8216,
 4561,
 5665,
 7151,
 3614,
 2055,
 3482,
 2,
 3228,
 7869,
 154,
 8099,
 1375,
 4239,
 2561,
 772,
 107,
 6036,
 6738,
 4891,
 1535,
 133,
 1176,
 1731,
 2402,
 3050,
 7205,
 2725,
 4902,
 6520,
 3947,
 2945,
 1444,
 261,
 6748,
 5172,
 5144,
 2576,
 6917,
 8190,
 2050,
 6899,
 3786,
 7267,
 4283,
 3682,
 7377,
 3445,
 6595,
 5413,
 3216,
 235,
 8154,
 4685,
 541,
 2012,
 4211,
 238,
 6314,
 4109,
 7834,
 5716,
 783,
 1980,
 7754,
 3181,
 2415,
 5664,
 6354,
 3983,
 3252,
 7783,
 548,
 446,
 5029,
 6807,
 6782,
 3466,
 1654,
 4524,
 3266,
 7886,
 8028,
 190,
 7490,
 5110,
 4089,
 1531,
 4475,
 5416,
 5018,
 349,
 5335,
 7009,
 1337,
 6787,
 5823,
 7215,
 897,
 3820,
 3043,
 6388,
 4454,
 7340,
 396,
 5142,
 1033,
 379,
 7258,
 3647,
 517,
 6785,
 523,
 6721,
 3394,
 961,
 3301,
 6459,
 2761,
 4034,
 912,
 3964,
 2873,
 6607,
 147,
 1123,
 5685,
 5947,
 3215,
 5315,
 1193,
 8204,
 5637,
 6382,
 3865,
 1608,
 2063,
 3019,
 7317,
 5314,
 7146,
 5205,
 2550,
 2028,
 4600,
 1283,
 6375,
 3665,
 1505,
 1949,
 7496,
 6141,
 5725,
 5025,
 7896,
 2692,
 4319,
 4389,
 1282,
 4639,
 2391,
 156,
 5802,
 2476,
 5763,
 8013,
 7424,
 2354,
 1469,
 6505,
 3123,
 4982,
 6214,
 554,
 2467,
 873,
 5075,
 908,
 2187,
 5188,
 4496,
 2505,
 7808,
 7818,
 7663,
 6499,
 5452,
 1798,
 5699,
 3728,
 478,
 1335,
 7777,
 4010,
 3473,
 7564,
 11,
 1947,
 3429,
 6359,
 2838,
 858,
 617,
 5912,
 5066,
 4189,
 5737,
 7412,
 5885,
 ...]

In [17]:
model.wv[['5026','5375']]

array([[ 0.44806391,  0.0953628 , -0.19928835, -0.12690076, -0.11037495,
        -0.35596514,  0.4106898 , -0.18596853, -0.34542349, -0.20176937,
        -0.2227519 , -0.41232592, -0.2382734 , -0.0698659 , -0.13645069,
        -0.12030501, -0.24848665,  0.30903777, -0.40315208,  0.22866532,
        -0.24976894,  0.13106757, -0.0924192 ,  0.11868199,  0.5807699 ,
         0.17382151,  0.07294977,  0.16433975, -0.04419158,  0.05384754,
        -0.21274933,  0.364723  , -0.05993083, -0.21902199, -0.43793106,
        -0.11133868,  0.01512   , -0.20699683,  0.16902085, -0.18678471,
         0.00305048, -0.08853789, -0.08498001,  0.26610357,  0.00195898,
         0.10567134,  0.26797348,  0.03540903,  0.25870806,  0.36149186,
        -0.21928415, -0.19035029, -0.05398019,  0.25878239, -0.09399482,
         0.00289247, -0.18100415,  0.10099125, -0.10762728,  0.3374131 ,
        -0.20881411,  0.22981411,  0.07032824,  0.24143688,  0.16974629,
        -0.08220121,  0.3460156 ,  0.24184902,  0.28359804, -0.49283934,
        -0.20704058,  0.17840621,  0.072069  ,  0.29443046,  0.22815268,
         0.27601716, -0.19349633, -0.1770649 , -0.12482087, -0.14905317,
         0.06546009,  0.0424105 ,  0.12068486, -0.1404167 , -0.05236863,
        -0.19082339, -0.26886678, -0.21505933,  0.17512776, -0.27954164,
         0.25478107, -0.03304725, -0.31233227, -0.57444793, -0.23919468,
        -0.07696535,  0.17583521,  0.05635253,  0.00266402,  0.23502709],
       [ 0.00205961,  0.42238435,  0.23865052, -0.2070335 , -0.16786367,
        -0.16126002,  0.05416576,  0.13087513, -0.56094337, -0.06989741,
        -0.06481078,  0.55582398, -0.35593322,  0.24781464, -0.42102548,
        -0.09429692, -0.12984145,  0.19374323, -0.38926679, -0.02231517,
         0.12027007,  0.16772759,  0.22169597,  0.45278454,  0.26106158,
        -0.02190516,  0.02046434,  0.1941075 , -0.27195841,  0.34265789,
         0.03006286,  0.12032573,  0.14563683,  0.19621789,  0.06840097,
         0.06728923, -0.00809318,  0.0214244 ,  0.24445471, -0.42286605,
         0.10785776, -0.50184602,  0.23565906, -0.24201015, -0.81643468,
         0.34446838,  0.10889152, -0.0418321 ,  0.11098087, -0.01310044,
         0.25748098, -0.19332473, -0.34229979,  0.01787303,  0.2031583 ,
         0.30488038, -0.61438113,  0.43692064, -0.24154042,  0.04882097,
        -0.65125591,  0.33314952,  0.32390687,  0.23573759, -0.13238579,
        -0.28669572,  0.18373859, -0.10324474, -0.61284959,  0.15339874,
        -0.38712603, -0.47038439,  0.07893386, -0.23951954,  0.17366745,
        -0.00531147,  0.38779664, -0.22188184, -0.15168583,  0.0571653 ,
         0.10605436, -0.50058538,  0.14631313, -0.11141491,  0.32774508,
         0.09072838, -0.12725554, -0.42141336,  0.45490405, -0.65761852,
         0.07229162, -0.46527168, -0.5518536 , -0.21865292, -0.28264049,
         0.48459667, -0.39966291, -0.09659329, -0.41714889,  0.34688047]], dtype=float32)

In [18]:
model.wv[raw_df['MOVIE_ID'].value_counts().index.tolist()]

KeyError: "word '5026' not in vocabulary"

### duration scale -1 to 1

In [4]:
from sklearn.preprocessing import minmax_scale

In [5]:
raw_df['scaled_duration'] = minmax_scale(raw_df.DURATION.values,feature_range=(-1,1))
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15823019 entries, 0 to 15823018
Data columns (total 6 columns):
USER_ID            int64
MOVIE_ID           int64
DURATION           int64
WATCH_DAY          int64
WATCH_SEQ          int64
scaled_duration    float64
dtypes: float64(1), int64(5)
memory usage: 724.3 MB

/Users/1003874/anaconda/envs/lstm/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64.
  warnings.warn(msg, _DataConversionWarning)

### date to 2 dim circle point

In [6]:
from datetime import datetime

In [7]:
num_values = 7

degrees_week = np.linspace(0,360,num_values + 1)[:-1]
print(degrees_week)

sin_week = np.sin(np.deg2rad(degrees_week))
print(sin_week)

cos_week = np.cos(np.deg2rad(degrees_week))
print(cos_week)

[   0.           51.42857143  102.85714286  154.28571429  205.71428571
  257.14285714  308.57142857]
[ 0.          0.78183148  0.97492791  0.43388374 -0.43388374 -0.97492791
 -0.78183148]
[ 1.          0.6234898  -0.22252093 -0.90096887 -0.90096887 -0.22252093
  0.6234898 ]

In [8]:
num_values = 12

degrees_month = np.linspace(0,360,num_values + 1)[:-1]
print(degrees_month)

sin_month = np.sin(np.deg2rad(degrees_month))
print(sin_month)

cos_month = np.cos(np.deg2rad(degrees_month))
print(cos_month)

[   0.   30.   60.   90.  120.  150.  180.  210.  240.  270.  300.  330.]
[  0.00000000e+00   5.00000000e-01   8.66025404e-01   1.00000000e+00
   8.66025404e-01   5.00000000e-01   1.22464680e-16  -5.00000000e-01
  -8.66025404e-01  -1.00000000e+00  -8.66025404e-01  -5.00000000e-01]
[  1.00000000e+00   8.66025404e-01   5.00000000e-01   6.12323400e-17
  -5.00000000e-01  -8.66025404e-01  -1.00000000e+00  -8.66025404e-01
  -5.00000000e-01  -1.83697020e-16   5.00000000e-01   8.66025404e-01]

In [9]:
num_values = 31

degrees_day = np.linspace(0,360,num_values + 1)[:-1]
print(degrees_day)

sin_day = np.sin(np.deg2rad(degrees_day))
print(sin_day)

cos_day = np.cos(np.deg2rad(degrees_day))
print(cos_day)

[   0.           11.61290323   23.22580645   34.83870968   46.4516129
   58.06451613   69.67741935   81.29032258   92.90322581  104.51612903
  116.12903226  127.74193548  139.35483871  150.96774194  162.58064516
  174.19354839  185.80645161  197.41935484  209.03225806  220.64516129
  232.25806452  243.87096774  255.48387097  267.09677419  278.70967742
  290.32258065  301.93548387  313.5483871   325.16129032  336.77419355
  348.38709677]
[ 0.          0.20129852  0.39435586  0.57126822  0.72479279  0.84864426
  0.93775213  0.98846832  0.99871651  0.96807712  0.89780454  0.79077574
  0.65137248  0.48530196  0.29936312  0.10116832 -0.10116832 -0.29936312
 -0.48530196 -0.65137248 -0.79077574 -0.89780454 -0.96807712 -0.99871651
 -0.98846832 -0.93775213 -0.84864426 -0.72479279 -0.57126822 -0.39435586
 -0.20129852]
[ 1.          0.97952994  0.91895781  0.82076344  0.68896692  0.52896401
  0.34730525  0.15142778 -0.05064917 -0.25065253 -0.44039415 -0.61210598
 -0.75875812 -0.87434662 -0.95413926 -0.99486932 -0.99486932 -0.95413926
 -0.87434662 -0.75875812 -0.61210598 -0.44039415 -0.25065253 -0.05064917
  0.15142778  0.34730525  0.52896401  0.68896692  0.82076344  0.91895781
  0.97952994]

In [10]:
def make_coord(date,num_class):
    # 1 ~ 12, 1 ~ 7, 1 ~ 31
    degrees = np.linspace(0,360,num_values + 1)[:-1]
    sin = np.sin(np.deg2rad(degrees))
    cos = np.cos(np.deg2rad(degrees))
    return sin, cos

In [11]:
def date2coord(date, sin, cos):
    return cos[date-1],sin[date-1]

In [12]:
int(str(raw_df.WATCH_DAY[0])[4:6])

8

In [13]:
int(str(raw_df.WATCH_DAY[0])[6:])

15

In [14]:
%%time
raw_df['watch_month'] = raw_df['WATCH_DAY'].apply(lambda x: int(str(x)[4:6]))
raw_df['watch_day'] = raw_df['WATCH_DAY'].apply(lambda x: int(str(x)[6:]))
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15823019 entries, 0 to 15823018
Data columns (total 8 columns):
USER_ID            int64
MOVIE_ID           int64
DURATION           int64
WATCH_DAY          int64
WATCH_SEQ          int64
scaled_duration    float64
watch_month        int64
watch_day          int64
dtypes: float64(1), int64(7)
memory usage: 965.8 MB
CPU times: user 29 s, sys: 1.69 s, total: 30.6 s
Wall time: 30.8 s

In [15]:
raw_df.watch_day.value_counts()

6     724432
2     634778
3     623128
5     582768
7     582512
9     578890
4     553427
16    548477
1     548361
11    545293
10    531010
23    520366
12    519603
20    506035
17    503696
8     495883
13    495205
24    494243
21    493745
30    486732
19    482074
26    480361
25    475486
18    472651
27    458207
14    456563
15    442898
28    437044
22    426944
29    397647
31    324560
Name: watch_day, dtype: int64

In [16]:
raw_df.watch_month.value_counts()

1     3712150
12    3202152
11    2485990
8     2283535
10    2195564
9     1943628
Name: watch_month, dtype: int64

In [17]:
def date2week(x):
    y = int(str(x)[:4])
    m = int(str(x)[4:6])
    d = int(str(x)[6:])
    day = datetime(y,m,d)
    return day.weekday()

In [18]:
raw_df['week'] = raw_df.WATCH_DAY.apply(date2week)
raw_df['week'] = raw_df['week'] + 1
raw_df['week'].value_counts()

6    3420047
7    2940547
1    1958997
5    1913684
3    1910585
2    1862975
4    1816184
Name: week, dtype: int64

In [19]:
%%time
raw_df['week_coord'] = raw_df['week'].apply(date2coord, args=(sin_week,cos_week,))

CPU times: user 12.2 s, sys: 583 ms, total: 12.8 s
Wall time: 12.8 s

In [20]:
raw_df['day_coord'] = raw_df['watch_day'].apply(date2coord, args=(sin_day,cos_day,))

In [21]:
raw_df['month_coord'] = raw_df['watch_month'].apply(date2coord, args=(sin_month,cos_month))

In [22]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15823019 entries, 0 to 15823018
Data columns (total 12 columns):
USER_ID            int64
MOVIE_ID           int64
DURATION           int64
WATCH_DAY          int64
WATCH_SEQ          int64
scaled_duration    float64
watch_month        int64
watch_day          int64
week               int64
week_coord         object
day_coord          object
month_coord        object
dtypes: float64(1), int64(8), object(3)
memory usage: 1.4+ GB

In [23]:
date_format = "%Y%m%d"
raw_df['datetime_watch_day'] = raw_df['WATCH_DAY'].apply(lambda x:datetime.strptime(str(x),date_format))

In [24]:
raw_df['diff_day'] = raw_df['datetime_watch_day'] - raw_df['datetime_watch_day'].shift(-1)

In [25]:
raw_df.dropna(inplace=True)

In [26]:
raw_df['diff_day'] = raw_df['diff_day'].apply(lambda x:x.days)

### too big, sampling

In [28]:
sample_id = raw_df['USER_ID'].value_counts().index.tolist()[:40000]
#sample_id

In [30]:
raw_df.set_index('USER_ID',inplace=True)

In [32]:
sample = raw_df.loc[sample_id]
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3472936 entries, 97140 to 67965
Data columns (total 13 columns):
MOVIE_ID              int64
DURATION              int64
WATCH_DAY             int64
WATCH_SEQ             int64
scaled_duration       float64
watch_month           int64
watch_day             int64
week                  int64
week_coord            object
day_coord             object
month_coord           object
datetime_watch_day    datetime64[ns]
diff_day              int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(3)
memory usage: 370.9+ MB

In [33]:
sample.reset_index(inplace=True)
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472936 entries, 0 to 3472935
Data columns (total 14 columns):
USER_ID               int64
MOVIE_ID              int64
DURATION              int64
WATCH_DAY             int64
WATCH_SEQ             int64
scaled_duration       float64
watch_month           int64
watch_day             int64
week                  int64
week_coord            object
day_coord             object
month_coord           object
datetime_watch_day    datetime64[ns]
diff_day              int64
dtypes: datetime64[ns](1), float64(1), int64(9), object(3)
memory usage: 370.9+ MB

In [34]:
sample.head()

,USER_ID,MOVIE_ID,DURATION,WATCH_DAY,WATCH_SEQ,scaled_duration,watch_month,watch_day,week,week_coord,day_coord,month_coord,datetime_watch_day,diff_day
0,97140,958,29,20170801,1,-0.718593,8,1,2,"(0.623489801859, 0.781831482468)","(1.0, 0.0)","(-0.866025403784, -0.5)",2017-08-01,-2
1,97140,3987,70,20170803,1,-0.306533,8,3,4,"(-0.900968867902, 0.433883739118)","(0.91895781162, 0.394355855113)","(-0.866025403784, -0.5)",2017-08-03,-1
2,97140,4949,24,20170804,1,-0.768844,8,4,5,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",2017-08-04,-8
3,97140,1068,3,20170812,1,-0.979899,8,12,6,"(-0.222520933956, -0.974927912182)","(-0.612105982548, 0.790775736938)","(-0.866025403784, -0.5)",2017-08-12,0
4,97140,1068,28,20170812,2,-0.728643,8,12,6,"(-0.222520933956, -0.974927912182)","(-0.612105982548, 0.790775736938)","(-0.866025403784, -0.5)",2017-08-12,0

### ten sequence and diff day

In [35]:
raw_df = sample

In [36]:
import time

In [37]:
%%time
result = []
for i, index in enumerate(raw_df['USER_ID'].value_counts().index):
    st = time.time()
    # 한유저의 마지막 diff_day 는 다른유저와의 차이임으로 제거
    sub = raw_df[raw_df['USER_ID'] == index].sort_values(['WATCH_DAY', 'WATCH_SEQ']).head(-1)

    # make train, label
    inseq = 10
    names = []
    temp_list = []
    features = ['MOVIE_ID','scaled_duration','diff_day','week_coord','day_coord','month_coord']
    
    for k in range(inseq):
        names += [(feature_name+'(t-%d)' % k) for feature_name in features]
        temp_list.append(sub[features].shift(-1*k))
        if k == inseq - 1:
            names += [('MOVIE_ID'+'(t-%d)' % inseq)]
            temp_list.append(sub['MOVIE_ID'].shift(-1*inseq))
            
    df = pd.concat(temp_list, axis=1)
    df.columns = names
    df.dropna(inplace=True)
    result.append(df)
    et = time.time()
    
    if i % 1000 == 0:
        print(i, index, (et-st)*1000)
        
#     if i == 10 :
#         break

0 285658 34.993886947631836
1000 101296 16.555070877075195
2000 143991 21.939992904663086
3000 79300 17.938852310180664
4000 240986 17.37189292907715
5000 350976 17.73214340209961
6000 146328 16.71290397644043
7000 130820 20.355939865112305
8000 363012 17.681360244750977
9000 311875 21.235227584838867
10000 322815 16.566753387451172
11000 56019 21.086931228637695
12000 258314 15.925884246826172
13000 104246 16.153812408447266
14000 207883 20.04218101501465
15000 106294 15.733957290649414
16000 150284 16.47496223449707
17000 57556 16.894102096557617
18000 297406 17.41814613342285
19000 362704 15.635967254638672
20000 101769 17.897844314575195
21000 124548 20.19190788269043
22000 387511 16.620159149169922
23000 45249 16.67308807373047
24000 109549 19.256114959716797
25000 18998 15.789985656738281
26000 78550 17.182111740112305
27000 152111 16.901016235351562
28000 178464 16.351938247680664
29000 387933 16.05820655822754
30000 299357 16.77417755126953
31000 170739 16.55125617980957
32000 241272 15.79427719116211
33000 296390 16.471147537231445
34000 40590 16.18027687072754
35000 114946 17.309904098510742
36000 215990 17.986774444580078
37000 14517 20.587921142578125
38000 349104 15.598058700561523
39000 177069 16.899824142456055
CPU times: user 11min 37s, sys: 6.44 s, total: 11min 43s
Wall time: 11min 44s

### feature join

In [38]:
len(result)

40000

In [43]:
%%time
sample = pd.concat(result,axis=0)

CPU times: user 1min 44s, sys: 1.82 s, total: 1min 46s
Wall time: 1min 46s

In [44]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3032936 entries, 15700 to 3461674
Data columns (total 61 columns):
MOVIE_ID(t-0)           int64
scaled_duration(t-0)    float64
diff_day(t-0)           int64
week_coord(t-0)         object
day_coord(t-0)          object
month_coord(t-0)        object
MOVIE_ID(t-1)           float64
scaled_duration(t-1)    float64
diff_day(t-1)           float64
week_coord(t-1)         object
day_coord(t-1)          object
month_coord(t-1)        object
MOVIE_ID(t-2)           float64
scaled_duration(t-2)    float64
diff_day(t-2)           float64
week_coord(t-2)         object
day_coord(t-2)          object
month_coord(t-2)        object
MOVIE_ID(t-3)           float64
scaled_duration(t-3)    float64
diff_day(t-3)           float64
week_coord(t-3)         object
day_coord(t-3)          object
month_coord(t-3)        object
MOVIE_ID(t-4)           float64
scaled_duration(t-4)    float64
diff_day(t-4)           float64
week_coord(t-4)         object
day_coord(t-4)          object
month_coord(t-4)        object
MOVIE_ID(t-5)           float64
scaled_duration(t-5)    float64
diff_day(t-5)           float64
week_coord(t-5)         object
day_coord(t-5)          object
month_coord(t-5)        object
MOVIE_ID(t-6)           float64
scaled_duration(t-6)    float64
diff_day(t-6)           float64
week_coord(t-6)         object
day_coord(t-6)          object
month_coord(t-6)        object
MOVIE_ID(t-7)           float64
scaled_duration(t-7)    float64
diff_day(t-7)           float64
week_coord(t-7)         object
day_coord(t-7)          object
month_coord(t-7)        object
MOVIE_ID(t-8)           float64
scaled_duration(t-8)    float64
diff_day(t-8)           float64
week_coord(t-8)         object
day_coord(t-8)          object
month_coord(t-8)        object
MOVIE_ID(t-9)           float64
scaled_duration(t-9)    float64
diff_day(t-9)           float64
week_coord(t-9)         object
day_coord(t-9)          object
month_coord(t-9)        object
MOVIE_ID(t-10)          float64
dtypes: float64(29), int64(2), object(30)
memory usage: 1.4+ GB

In [45]:
sample.head()

,MOVIE_ID(t-0),scaled_duration(t-0),diff_day(t-0),week_coord(t-0),day_coord(t-0),month_coord(t-0),MOVIE_ID(t-1),scaled_duration(t-1),diff_day(t-1),week_coord(t-1),...,week_coord(t-8),day_coord(t-8),month_coord(t-8),MOVIE_ID(t-9),scaled_duration(t-9),diff_day(t-9),week_coord(t-9),day_coord(t-9),month_coord(t-9),MOVIE_ID(t-10)
15700,5657,-0.909548,0,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.929648,0.0,"(-0.900968867902, -0.433883739118)",...,"(0.623489801859, -0.781831482468)","(0.528964010327, 0.848644257495)","(-0.866025403784, -0.5)",2540.0,-0.989950,-10.0,"(-0.222520933956, 0.974927912182)","(-0.0506491688387, 0.998716507171)","(-0.866025403784, -0.5)",5375.0
15701,5657,-0.929648,0,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.839196,-1.0,"(-0.900968867902, -0.433883739118)",...,"(-0.222520933956, 0.974927912182)","(-0.0506491688387, 0.998716507171)","(-0.866025403784, -0.5)",5375.0,-0.929648,-12.0,"(-0.222520933956, -0.974927912182)","(-0.874346616145, -0.485301962531)","(-0.866025403784, -0.5)",5375.0
15702,5657,-0.839196,-1,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.165829,-1.0,"(-0.222520933956, -0.974927912182)",...,"(-0.222520933956, -0.974927912182)","(-0.874346616145, -0.485301962531)","(-0.866025403784, -0.5)",5375.0,-0.809045,-4.0,"(-0.900968867902, 0.433883739118)","(0.979529941252, -0.201298520089)","(-0.866025403784, -0.5)",3549.0
15703,5657,-0.165829,-1,"(-0.222520933956, -0.974927912182)","(0.688966919076, 0.724792787229)","(-0.866025403784, -0.5)",406.0,-0.638191,0.0,"(0.623489801859, -0.781831482468)",...,"(-0.900968867902, 0.433883739118)","(0.979529941252, -0.201298520089)","(-0.866025403784, -0.5)",3549.0,-1.000000,0.0,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0
15704,406,-0.638191,0,"(0.623489801859, -0.781831482468)","(0.528964010327, 0.848644257495)","(-0.866025403784, -0.5)",406.0,-0.909548,0.0,"(0.623489801859, -0.781831482468)",...,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0,-0.849246,0.0,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0

In [46]:
del raw_df

In [47]:
sample.reset_index(drop=True,inplace=True)

In [48]:
sample.head()

,MOVIE_ID(t-0),scaled_duration(t-0),diff_day(t-0),week_coord(t-0),day_coord(t-0),month_coord(t-0),MOVIE_ID(t-1),scaled_duration(t-1),diff_day(t-1),week_coord(t-1),...,week_coord(t-8),day_coord(t-8),month_coord(t-8),MOVIE_ID(t-9),scaled_duration(t-9),diff_day(t-9),week_coord(t-9),day_coord(t-9),month_coord(t-9),MOVIE_ID(t-10)
0,5657,-0.909548,0,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.929648,0.0,"(-0.900968867902, -0.433883739118)",...,"(0.623489801859, -0.781831482468)","(0.528964010327, 0.848644257495)","(-0.866025403784, -0.5)",2540.0,-0.989950,-10.0,"(-0.222520933956, 0.974927912182)","(-0.0506491688387, 0.998716507171)","(-0.866025403784, -0.5)",5375.0
1,5657,-0.929648,0,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.839196,-1.0,"(-0.900968867902, -0.433883739118)",...,"(-0.222520933956, 0.974927912182)","(-0.0506491688387, 0.998716507171)","(-0.866025403784, -0.5)",5375.0,-0.929648,-12.0,"(-0.222520933956, -0.974927912182)","(-0.874346616145, -0.485301962531)","(-0.866025403784, -0.5)",5375.0
2,5657,-0.839196,-1,"(-0.900968867902, -0.433883739118)","(0.820763441207, 0.571268215095)","(-0.866025403784, -0.5)",5657.0,-0.165829,-1.0,"(-0.222520933956, -0.974927912182)",...,"(-0.222520933956, -0.974927912182)","(-0.874346616145, -0.485301962531)","(-0.866025403784, -0.5)",5375.0,-0.809045,-4.0,"(-0.900968867902, 0.433883739118)","(0.979529941252, -0.201298520089)","(-0.866025403784, -0.5)",3549.0
3,5657,-0.165829,-1,"(-0.222520933956, -0.974927912182)","(0.688966919076, 0.724792787229)","(-0.866025403784, -0.5)",406.0,-0.638191,0.0,"(0.623489801859, -0.781831482468)",...,"(-0.900968867902, 0.433883739118)","(0.979529941252, -0.201298520089)","(-0.866025403784, -0.5)",3549.0,-1.000000,0.0,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0
4,406,-0.638191,0,"(0.623489801859, -0.781831482468)","(0.528964010327, 0.848644257495)","(-0.866025403784, -0.5)",406.0,-0.909548,0.0,"(0.623489801859, -0.781831482468)",...,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0,-0.849246,0.0,"(1.0, 0.0)","(0.820763441207, 0.571268215095)","(-0.5, -0.866025403784)",3549.0

In [ ]:
sample.to_csv('../../lstm_data_sample.csv')